* {
  box-sizing: border-box;
  font-family: 'Reggae One', cursive;
  /* font-size: 1rem; */
}

.row {
  display: grid;
  grid-template-columns: 8% 1fr 2fr 1fr;
  grid-gap: 5px;
  align-items: center;
  margin-bottom: 0;
}

/* .pagination li a {
  font-size: .9rem;
} */

.image {
  width: 4rem;
}

.game-title {
  font-size: 1.2rem;
}

svg {
  margin-right: 8px;
  transform: rotate(180deg);
}

.rotated {
  transform: rotate(0);
}

.redArrow path {
  fill: #EE6E73;
}
